{% extends 'layout.html' %}

{% block title %}
{{ this.title }}
{% endblock %}

{% block body %}
<div class="home">
    <section class="hero is-small is-relative city-image">
        {# <div class="is-overlay background-image">
        </div>
        <div class="is-overlay background-cover">
        </div> #}

        <div class="hero-body has-text-centered">
            <div class="cfp">
                <p>Our CFP is open!</p>
                <p><span class="cfp-link"><a href="https://pretalx.com/pycascades-2027/cfp">Submit a talk here</a></span>.</p>
            </div>
            <br>
            <img class="homelogo" src="{{ 'static/PyCascades2027_Logo_ElliottBay_COLOR_DARK BG.png' | asseturl }}" alt="pycascades logo">
             <h2 class="title is-2">March 20-21st, 2027</h2>
        </div>

        <div class="image-attribution">
        </div>
    </section>

    <section class="hero is-medium info">
        <div class="hero-body">
            <div class="columns">
                <div class="column">
                    <div class="block">
                        <h2 class="title is-2">Seattle, Washington</h2>
                    </div>

                    {# <div class="block">
                        <h4 class="subtitle is-4">University of Washington</h4>
                    </div> #}
                </div>

                <div class="column">
                    <div class="block">
                        <p>
                            PyCascades is a regional PyCon in the Pacific Northwest, celebrating the west
                            coast Python developer and user community. Our organizing team includes members
                            of the Vancouver, Seattle, and Portland Python user groups.
                        </p>
                    </div>
                    <div class="block">
                        <h5 class="title is-5">March 20-21st, 2027</h5>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="hero is-medium">
        <div class="hero-body">
            <div class="mailing-list block">
                <h3 class="title is-3">Keep in touch!</h3>
                <p class="block">
                    Join our newsletter to hear the latest news as soon as it's announced!
                </p>
                <p class="block">
                    We promise, we won't overload your inbox. (Fewer than 10 emails per year)
                </p>
                <form
                    action="https://buttondown.com/api/emails/embed-subscribe/pycascades"
                    method="post"
                    target="popupwindow"
                    onsubmit="window.open('https://newsletter.pycascades.com', 'popupwindow')"
                    class="embeddable-buttondown-form">
                    <div class="field has-addons">
                        <div class="control is-expanded">
                            <input class="input" id="bd-email" type="email" name="email" value="" placeholder="Your Email" required="required">
                        </div>
                        <div class="control">
                            <button class="button is-primary" type="submit"><i class="fa-solid fa-paper-plane"></i>
                                Subscribe
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="level has-text-centered mt-4">
                <div class="level-item">
                    <a href="https://hachyderm.io/@pycascades">
                    <span class="icon has-text-primary" aria-hidden="true"><span class="fa-brands fa-mastodon fa-xl" ></span>&nbsp;&nbsp;&nbsp;</span>Follow us on Mastodon
                    </a>
                </div>
                <div class="level-item">
                    <a href="https://www.pycascades.com/feed.xml" type="application/atom+xml" rel="alternate" title="Sitewide Atom feed">
                    <span class="icon has-text-primary" aria-hidden="true"><span class="fa-solid fa-rss fa-xl"></span>&nbsp;&nbsp;&nbsp;</span>Add us to your RSS feed
                    </a>
                </div>
                <div class="level-item"> 
                    <a href="https://join.slack.com/t/pycascades/shared_invite/zt-1l5libchy-RyQi1Kh0PS8DXCfhxhHZhQ">
                    <span class="icon has-text-primary" aria-hidden="true"><span class="fa-brands fa-slack fa-xl"></span>&nbsp;&nbsp;&nbsp;</span>Join us on Slack
                    </a>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}
