<!DOCTYPE html>
<html data-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
          content="Website for PyCascades 2027, a regional Python conference in the Pacific Northwest.">
    <meta name="keywords" content="Python,PyCon,Conference,Seattle,PNW">

    <meta property="og:url" content="https://www.pycascades.com">
    <meta property="og:description"
          content="Website for PyCascades 2027, a regional Python conference in the Pacific Northwest.">
    <meta property="og:image" content="{{ '/static/header-logo.png'|asseturl }}">
    <meta property="og:title" content="PyCascades 2027">
    <link rel="shortcut icon" href="{{ '/static/favicon.ico'|asseturl }}">
    <title>
        {% block title %}
            Welcome
        {% endblock %}— PyCascades 2027
    </title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css" integrity="sha512-DxV+EoADOkOygM4IR9yXP8Sb2qwgidEmeqAEmDKIOfPRQZOWbXCzLC6vjbZyy0vPisbH2SyW27+ddLVCN+OMzQ==" crossorigin="anonymous" referrerpolicy="no-referrer">
    <link rel="stylesheet" href="{{ '/static/style.css'|asseturl }}">
</head>

<body class="has-navbar-fixed-top">
<nav class="navbar is-fixed-top is-primary">
    <div class="navbar-brand">
        <div class="navbar-item">
            <a href="/" class="nav-link">
                <div class="nav-icon">
                    <img src="{{ '/static/header-logo.png'|asseturl }}" alt="PyCascades logo" height="200">
                </div>
            </a>
        </div>

        <a class="navbar-burger" role="button" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div class="navbar-menu">
        <div class="navbar-start">
            <div class="navbar-item has-dropdown is-hoverable">
                <a href="{{ '/about/the-conference'|url }}" class="navbar-link is-arrowless">About</a>

                <div class="navbar-dropdown">
                    {% for page in site.query('/about').filter(F.show_in_menu == True).order_by('sort_index', 'name') %}
                        <a class="navbar-item" href="{{ page|url }}">{{ page.title }}</a>
                    {% endfor %}
                </div>
            </div>

            {% if site.query('/attend').filter(F.show_in_menu == True).count() > 0 %}
                <div class="navbar-item has-dropdown is-hoverable">
                      <a href="{{ '/attend/venue'|url }}" class="navbar-link is-arrowless">Attend</a>
{#                    <a href="https://pretix.eu/pycascades/vancouver-2026/" class="navbar-link is-arrowless">Attend</a>#}

                    <div class="navbar-dropdown">
{#                        <a class="navbar-item" href="https://pretix.eu/pycascades/vancouver-2026/">Get tickets</a>#}
                        {% for page in site.query('/attend').filter(F.show_in_menu == True).order_by('sort_index', 'name') %}
                            <a class="navbar-item" href="{{ page|url }}">{{ page.title }}</a>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}

            {% if site.query('/program').filter(F.show_in_menu == True).count() > 0 %}
                <div class="navbar-item has-dropdown is-hoverable">
                    <a href="{{ '/program/schedule'|url }}" class="navbar-link is-arrowless">Program</a>

                    <div class="navbar-dropdown">
                        {% for page in site.query('/program').filter(F.show_in_menu == True).order_by('sort_index', 'name') %}
                            <a class="navbar-item" href="{{ page|url }}">{{ page.title }}</a>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}

            {% if site.query('/sponsors').filter(F.show_in_menu == True).count() > 0 %}
                <div class="navbar-item has-dropdown is-hoverable">
                    <a href="{{ '/sponsors/become-a-sponsor'|url }}" class="navbar-link is-arrowless">Sponsors</a>

                    <div class="navbar-dropdown">
                        {% for page in site.query('/sponsors').filter(F.show_in_menu == True).order_by('sort_index', 'name') %}
                            <a class="navbar-item" href="{{ page|url }}">{{ page.title }}</a>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}

                <a class="navbar-item navbar-link is-arrowless" href="https://www.pycascades.com/news">News<span class="icon" aria-hidden="true"><span class="fa-solid fa-arrow-up-right-from-square fa-2xs"></span></span></a>
                <a class="navbar-item navbar-link is-arrowless" href="https://shop.pycascades.com">👕 Swag Shop <span class="icon" aria-hidden="true"><span class="fa-solid fa-arrow-up-right-from-square fa-2xs"></span></span></a>
        </div>
    </div>
</nav>

{% block body %}

{% endblock %}

<footer class="footer">
    <div class="container">
        <a href="{{ '/about/code-of-conduct'|url }}">Code of Conduct</a>
        <span>|</span>
        <a href="https://hachyderm.io/@pycascades">Mastodon</a>
    </div>
</footer>

<div class="mastodon-verification">
    <a rel="me" href="https://hachyderm.io/@pycascades" aria-hidden="true" tabindex="-1"></a>
    {% for organizer in site.query('/about/the-team').include_undiscoverable(true).filter(F.mastodon_url.startswith('https://')) %}
        <a rel="me" href="{{ organizer.mastodon_url }}" aria-hidden="true" tabindex="-1"></a>
    {% endfor %}
</div>
<script>
    function openMenu() {
        console.log('toggling classes');
        document.querySelector('.navbar-burger').classList.toggle('is-active');
        document.querySelector('.navbar-menu').classList.toggle('is-active');
    }
    document.querySelector('.navbar-burger').addEventListener('click', openMenu);
</script>

</body>

</html>
