@font-face {
    font-family: '05Brevia-Medium';
    src: url('/static/fonts/05Brevia-Medium-webfont.woff2') format('woff2'),
        url('/static/fonts/05Brevia-Medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: '09Brevia-Bold';
    src: url('/static/fonts/09Brevia-Bold-webfont.woff2') format('woff2'),
        url('/static/fonts/09Brevia-Bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --pycascades-primary: #5d2ec8;
    --pycascades-primary-h: 258.11deg;
    --pycascades-primary-s: 62.35%;
    --pycascades-primary-l: 48.33%;

    --pycascades-bright-purple: #7100FF;
    --pycascades-bright-purple-h: 266.59deg;
    --pycascades-bright-purple-s: 100%;
    --pycascades-bright-purple-l: 50%;

    --bulma-primary-h: var(--pycascades-primary-h);
    --bulma-primary-s: var(--pycascades-primary-s);
    --bulma-primary-l: var(--pycascades-primary-l);

    /* --bulma-primary-invert: #FFFFFF; */
    --bulma-primary-invert-h: 0deg;
    --bulma-primary-invert-s: 0%;
    --bulma-primary-invert-l: 100%;

    --bulma-link-text: var(--pycascades-bright-purple);

    --bulma-family-primary: "05Brevia-Medium", sans-serif;
    --bulma-family-title: "09Brevia-Bold", sans-serif;

    --bulma-navbar-height: 65px;
}

.navbar {
    --bulma-navbar-item-img-max-height: 50px;
}

.navbar.is-primary {
    /* Override so the filter button on the pretalx schedule doesn't come in front of the navbar on scroll */
    --bulma-navbar-fixed-z: 500;
    --bulma-navbar-dropdown-item-h: var(--pycascades-bright-purple-h);
    --bulma-navbar-dropdown-item-s: var(--pycascades-bright-purple-s);
    --bulma-navbar-dropdown-item-l: var(--pycascades-bright-purple-l);
}

.navbar-dropdown a.navbar-item:not(.is-active, .is-selected) {
    color: var(--pycascades-bright-purple);
}

.city-image {
    background-image: url("/static/Background.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.city-image>.hero-body {
    /*background-image: linear-gradient(rgba(91, 91, 30, 0.4), rgba(0, 0, 0, 0.8));*/
}

.city-image,
.city-image .title,
.info,
.info .title,
.info .subtitle {
    color: #FFFFFF;
}

.homelogo {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 500px;
}

.home .info {
    background-image: linear-gradient(-180deg, #FFF 2%, #ABABAB 88%), radial-gradient(70% 103%, #7B25FB 31%, #40208A 100%);
    background-blend-mode: multiply;
}

.card {
    --bulma-card-footer-padding: 0;
}

.navbar-brand>.navbar-item {
    padding-bottom: 0;
}

.organizer-list {
    gap: 32px;
}

.organizer-card {
    max-width: 350px;
}

.organizer-card .card-footer-item {
    font-size: 2.5rem;
}

.organizer-card .card-footer-item img {
    fill: #7100FF;
}

.mastodon-verification {
    visibility: hidden;
}

.image-attribution {
    position: absolute;
    right: 16px;
    bottom: 0;
}

.see-also {
    margin-left: 8px;
    margin-bottom: 8px;
}

#lektor-edit-link {
    margin-top: 65px !important;
}

img:hover {
    fill: red;
}

.cfp {
    font-size: 36px;
}

.cfp-link {
    background: white;
    display: inline-block;
    text-decoration: none;
    border-radius: 20px;
    padding: 3px 15px;
}

.cfp a:link, a:visited, a:active{
    text-decoration: none;
}

.cfp a:hover {
    text-decoration: none;
    background: #000000;
    display: inline-block;
    border-radius: 20px;
    padding: 3px 15px;
}

.cta {
    font-size: 36px;
    padding-top: -10px;
}

.cta-link {
    background: white;
}

.cta-extension {
    background: #7100FF;
    color: white;
    font-size: 18px;
}

.cta-extension a {
    color: white;
    text-decoration: underline; 
}

.talks-speaker-list {
    gap: 16px;
}

.speaker-card {
    max-width: 300px;
}

.talk-speaker-list {
    gap: 32px;
}

.speaker {
    gap: 16px;
}

.speaker-info {
    flex: 1;
}

.speaker-photo .image {
    width: 300px;
    border-radius: 0.75rem;
    overflow: hidden;
}

.contact-link {
    margin-bottom: 16px;
}

.contact-link a {
    display: flex;
    align-items: center;
    gap: 16px;
}

.sponsor-tier h1,
.sponsor-tier h2,
.sponsor-tier h3,
.sponsor-tier h4 {
    text-align: center;
    border-top: 1px solid var(--bulma-content-heading-color);
    border-bottom: 1px solid var(--bulma-content-heading-color);
    padding: 20px 0;
    margin: 20px 0;
}

.sponsor-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.sponsor-entry {
    margin: 30px;
    text-align: center;
    max-width: 50%;
    flex: 1 1 20%;
}

.sponsor-entry img {
    max-height: 200px;
    margin: 20px 0;
}

a:link {
    text-decoration: underline;
}

a:hover, a:focus {
    font-weight: bold;
}

.navbar a:link {
    text-decoration: none;
}

.anchor-link {
    display: inline-block;
    right: 100%;
    top: 3px;
}
.anchor-icon {
    position: relative;
    left: -1.25em;
    top: -2.5em;
}
.hidden {
    border-width: 0 !important;
    clip: rect(1px,1px,1px,1px) !important;
    height: 1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    white-space: nowrap !important;
    width: 1px !important;
}

html {
    scroll-padding-top: var(--bulma-navbar-height);
}
